<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <PageTitle>Not found</PageTitle>
                <p role="alert">Извините, ничего не найдено по данному адресу.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
